/* CSS-only override for the builder tile icon
   Targets the Simple Progress item (li#fieldset-start) and replaces its inline
   <svg><use/></svg> icon with our background SVG. */
li#fieldset-start .frmsvg {
  width: 54px;
  height: 24px;
  background: url('../images/fieldset-start.svg') no-repeat center / contain;
}
li#fieldset-start .frmsvg use { display: none; }

li#fieldset-end .frmsvg {
  width: 54px;
  height: 24px;
  background: url('../images/fieldset-end.svg') no-repeat center / contain;
}
li#fieldset-end .frmsvg use { display: none; }