/* Builder palette icons for FFF Fieldset types */
li#ff-fieldset-start .frmsvg,
li#fieldset-start .frmsvg {
  width: 54px;
  height: 24px;
  background: url('../images/fieldset-start.svg') no-repeat center / contain;
}
li#ff-fieldset-start .frmsvg use,
li#fieldset-start .frmsvg use { display: none; }

li#ff-fieldset-end .frmsvg,
li#fieldset-end .frmsvg {
  width: 54px;
  height: 24px;
  background: url('../images/fieldset-end.svg') no-repeat center / contain;
}
li#ff-fieldset-end .frmsvg use,
li#fieldset-end .frmsvg use { display: none; }

